<div style="background: url(/assets/bg_uchu_space.jpg);">

<h1 align="center"> 千葉光太郎</h1>

<div align="center">
<img  src="/assets/pose_pistol_man.png" width="180px" height="180px">

<h2 align="center"> 誕生日：1996年1月30日</h2>

<table border="2" cellpadding="5" cellspacing="5" align="center">
  <tr>
  	<td>趣味</td>
  	<td>ゲーム、読書</td>
  </tr>
  <tr>
  	<td>好きな食べ物</td>
  	<td>カレー、甘いもの</td>
  </tr>
  <tr>
    <td>使用経験のある言語</td>
    <td>Python,Ruby,R</td>
  </tr>
</table>

